/*region elements - styles across all the elements */

html { 
    /*the font-size is very much dependent on the font-family*/
    font-family: 'Roboto', sans-serif;
															   
									
						   
													  
						  
							   
																				
					
    /*this is a game. All pages except instructions should be not scrollable*/
    height: 100%;
    /*this is mobile only portrait only game. Only between 300 and 600px*/
    max-width: 600px;
    min-width:300px;
    width:100%;
    /*margin auto means centered horizontally*/
    margin: auto;
    padding-right: 0px;
	overflow-y: auto;
	overflow-x: hidden;
    word-wrap: break-word;
    box-sizing: border-box;
    background-color: #101010;
    line-height: 1.5;
    color: #FBF462;
			   
    user-select: none;
    /*This is the base font-size. All other font-size 
    use rem units that are
    relative to this font-size.*/
    /*width greater than 600 px*/
    font-size: 34px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/*width between 300 and 600 px*/
@media screen and (max-width: 600px) {
    html {
    /*This is the base font-size. All other font-size 
    use rem units that are
    relative to this font-size.*/
    /*The unit vw IS NOT VERY PRECISE !!????!!!*/
    /*6vw  min 8,9cpl  max 9,1cpl */
    /*6w - 2px 9,7cpl  max 9,7cpl ok */
    font-size: calc(6vw - 2px);
    }
}
/*width less than 300px*/
@media screen and (max-width: 300px) {
    html {
    /*This is the base font-size. All other font-size 
    use rem units that are
    relative to this font-size.*/
    font-size: 16px;
    }
}


body{
    background-color: #000000;
					 
				
											  
				 
    /*this is a game. All pages except instructions should be not scrollable*/
    height: 100%;
    margin: auto;
}

/*CSS Reset*/
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
 margin: 0;
 padding: 0;
 border: 0;
 border-style: none;
 outline: 0;
 font-family: 'Roboto', sans-serif;
 vertical-align: baseline;
 background: transparent;
				   
				
			   
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    fill:yellow;
}

#div_for_virtual_dom{
    height: 100%;
    padding-top: 0.01%;
    position: relative;
}

img { 
					
    -ms-interpolation-mode: bicubic; 
    vertical-align: middle;
    border-style: none;
    align-content: center;
    width: 100%;
    height: 100%;
}

*,*:before,*:after {
    box-sizing: inherit;
}

svg{
	dominant-baseline:middle; 
	text-anchor:middle;	
}


h1,h2,h3,h4,h5,h6,p,
.h1,.h2,.h3,.h4,.h5,.h6
 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
    width:100%;
    text-anchor:middle;
}


h1, .h1 {
    font-size: 2.4rem ;
}

h2, .h2 {
    font-size: 2.0rem ;
}

h3, .h3 {
    font-size: 1.6rem ;
}

h4, .h4 {
    font-size: 1.2rem ;
}

h5, .h5 {
    font-size: 1.0rem ;
}

h6, .h6 {
    font-size: 0.8rem ;
}

/*region classes - can be used for many elements*/

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.m_container {
    margin-left: auto;
    margin-right: auto;
    color: #FBF462 ;
	fill: #FBF462 ;
    background-color: #000000 ;
    width:100%;
}

/* using simple css-grid for the layout of the game grid */
.grid_container {
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.grid_item {
    text-align: center;
}

.grid_item_img{
    align-content: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.grid_container_header {
    display: grid;
    font-size: 3.6rem ;
    width:100%;
}

.grid_container_players {
    display: grid;
    font-size: 2.0rem ;
    width:100%;
}

.div_clickable {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

/*user must click this to continue. It blinks.*/
.h2_user_must_click{
    color:green;
    animation: blinker 1s linear infinite;
}

/*user can click this, but is not required.*/
.h2_user_can_click{
    color:green;
}

/*user must wait. Cannot click anything.*/
.h2_user_must_wait{
    color:red;
}

/*user must do something*/
.h2_must_do_something{
    color:orange;
}

.input_nickname_blink{
    animation: blinker 1s linear infinite;
}

/*region css for elements by id - because they are used only one time*/

#card_moniker_left #card_moniker_right #card_moniker_center{
    white-space:nowrap;
}

#card_moniker_left{
    text-align: left;
    padding-left: 5%;
}

#card_moniker_right{
    text-align: right;
    padding-right: 5%;
}

#card_moniker_center{
    text-align: center;
}

#input_nickname {
    width:100%;
    border: none;
    margin:auto;
    display:inline-block;
    text-align: center;
    background-color: #212121;
    color: rgb(252, 255, 77);
    font-size: 2.0rem ;
}

#div_fullscreen{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: yellow;
}

#h2_fullscreen{
    color:#013d01;
    animation: blinker 1s linear infinite;
}

/*special instructions*/
@keyframes blinker {
    50% {
      opacity: 0.2;
    }
  }

